---
import Layout from "../layouts/Layout.astro";
import Card from "../components/Card.astro";
---

<Layout title="Code Tracks — 2023">
  <main>
    <h1 class="text-responsive-title-lg text-white">Spacey colors and color spaces</h1>
    <ul role="list" class="link-card-grid">
      <Card href="/colors" title="Spacey colours & colour spaces" body="Let's compare P3 and sRGB colors." />
      <Card href="/tailwind" title="Tailwind & CVA" body="Combining styles with style." />
    </ul>
  </main>
</Layout>

<style></style>
