---
import Layout from "../layouts/Layout.astro";
import Card from "../components/Card.astro";
---

<Layout title="Code Tracks — 2023">
  <main class="h-[100dvh] grid grid-rows-[auto,1fr] text-slate-50 p-8 container m-auto">
    <h1 class="text-responsive-title-md font-bold text-white text-center mb-12">Spacey colors and color spaces</h1>

    <ul
      role="list"
      class="grid grid-cols-[repeat(auto-fit,minmax(24ch,1fr))] grid-rows-[repeat(auto-fit,minmax(12ch,15ch))] gap-8 p-0"
    >
      <Card href="/colors" title="Spacey colours & colour spaces" body="Let's compare P3 & sRGB colors." />
      <Card href="/tailwind" title="Tailwind & CVA" body="Combining styles with style." />
    </ul>
  </main>
</Layout>
