---
import { cva } from "../../cva.config";

interface Props {
  variant?: "primary" | "secondary";
  className?: string;
}

const cvaButton = cva({
  base: [
    "border",
    "rounded-md",
    "px-4",
    "py-2",
    "m-2",
    "transition",
    "duration-500",
    "ease",
    "select-none",
    "focus:outline-none",
    "focus:shadow-outline",
    "cursor-pointer",
  ],
  variants: {
    variant: {
      primary: ["border-purple-500", "bg-purple-500", "text-white", "hover:bg-purple-600"],
      secondary: ["border-gray-500", "bg-gray-500", "text-white", "hover:bg-gray-600"],
    },
  },
  defaultVariants: {
    variant: "secondary",
  },
});

const { variant = "secondary", className } = Astro.props;
---

<button class={cvaButton({ variant, className })}><slot /></button>
