---
import { cva } from "../../cva.config";
import type { VariantProps } from "cva";

interface Props extends VariantProps<typeof cvaSlide> {
  class?: string;
}

const { class: className, gradient } = Astro.props;

const cvaSlide = cva({
  base: ["w-full", "min-h-full", "snap-center", "relative", "bg-gradient-to-b", "py-6", "px-12"],
  variants: {
    gradient: {
      "midnight-blue-to-purple": "from-indigo-800 to-purple-800",
      "deep-teal-to-navy-blue": "from-teal-800 to-blue-800",
      "forest-green-to-dark-olive": "from-green-800 to-olive-800",
      "crimson-red-to-burnt-orange": "from-red-800 to-orange-800",
      "plum-purple-to-deep-indigo": "from-purple-800 to-indigo-800",
      "ruby-red-to-rich-amber": "from-red-800 to-amber-800",
      "charcoal-gray-to-slate-gray": "from-gray-800 to-gray-900",
      "graphite-gray-to-ash-gray": "from-gray-900 to-gray-800",
      "deep-cyan-to-navy-blue": "from-cyan-800 to-blue-800",
      "moss-green-to-dark-forest-green": "from-green-800 to-green-900",
      "amber-to-mahogany": "from-amber-800 to-red-800",
      "cool-gray-to-gray": "from-cool-gray-400 to-gray-400",
    },
  },
  defaultVariants: {
    gradient: "cool-gray-to-gray",
  },
});
---

<div class={cvaSlide({ gradient, class: className })}>
  <slot />
</div>
