---
import TailwindLayout from "../../layouts/TailwindLayout.astro";
import Button from "../../components/ButtonCVA.astro";
---

<TailwindLayout heading="Class Variance Authority">
  <div class="grid place-items-center">
    <Button>The button</Button>
  </div>
</TailwindLayout>
