---
import TailwindLayout from "../../layouts/TailwindLayout.astro";
import Button from "../../components/ButtonNothing.astro";

// className="bg-pink-500" <-- Works
// className="bg-blue-500" <-- Doesn't work
---

<TailwindLayout heading="No Tooling">
  <div class="grid place-items-center">
    <Button>The button</Button>
  </div>
</TailwindLayout>
