---
import TailwindLayout from "../../layouts/TailwindLayout.astro";
import Button from "../../components/ButtonCVAtwMerge.astro";
---

<TailwindLayout heading="twMerge">
  <div class="grid place-items-center">
    <Button>The button</Button>
  </div>
</TailwindLayout>
