---
import Layout from "./Layout.astro";

interface Props {
  heading: string;
  showBackButton?: boolean;
}

const { showBackButton = true, heading } = Astro.props;
---

<Layout title="Code Tracks - 2023">
  <main class="h-[100dvh] grid grid-rows-[auto,1fr] text-slate-50 p-20 container m-auto text-xl">
    <h1 class="text-responsive-title-md font-bold text-white text-center mb-20">{heading}</h1>
    <slot />
  </main>
  {
    showBackButton ? (
      <a class="absolute top-4 left-4 text-slate-300 transition opacity-0 hover:opacity-100" href="/tailwind">
        ⬅️ Back to Tailwind
      </a>
    ) : null
  }
</Layout>
